.day{
    background-color: bisque;
    margin: 5px;
    padding: 10px;
    text-align: center;
}
.weekend{
    background-color: plum;
    font-style: italic;
}
.today{
    font-weight: bold;
    border: solid 2px gray;
}
.past{
    color: gray;
    background-color: lightgray;
}