body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: whitesmoke;
}
header, h1{
    margin: 0;
}
header, h2{
    text-align: center;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    height: 250px;
    width: auto;
    border-radius: 6px;
}
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}
.navigation-container{
    display: flex;
    justify-content: space-evenly;
}
.services-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}
.service{
    width: 445px;
    padding: 10px;
    margin: 15px 65px 155px 75px;
    border-radius: 6px;
    background-color: #DCDCDC;
}
.service-title-price{
    display: flex;
    justify-content: space-between;
}