body{
    background-color: #CCCCCC;
    text-align: center;
}
p{
    width: 200px;
    height: 50px;
    margin: 0 auto;
}
.red{
background-color: #FF0000;
}
.white{
background-color: #FFFFFF;
}
.green{
background-color: #00FF00;
}
.yellow{
background-color: #FFFF00;
}
.blue{
background-color: #0000FF;
}
.black{
background-color: #000000;
}