@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato:wght@300&display=swap');
body{
    text-align: center;
    font-family: Lato;
    display: grid;
    background-color: white;
}
form{
    width: 80%;
    margin: auto;
}
legend{
    background: #007C2E;
    color: white;
    padding: 5px;
}
fieldset{
    margin: 15px;
    font-weight: bold;
    background: beige;
}
label{
    float: left;
    width: 50%;
}
input,textarea{
    width: 50%;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background: white;
    font-family: Lato;
}
button{
    background-color: darkcyan;
    border: none;
    color: white;
    padding: 10px;
    font-size: 15px;
}