.container {

    display: grid;
    grid-template-columns: repeat(7, 40px);
    row-gap: 1px;
    height: 250px;

}

.grid-item {

    background-color: #D9E8FB;
    font-weight: bold;
    margin: 2px;
    color: #2980B9;
    display: flex;
    justify-content: center;
    align-items: center;

}

h2 {

    color: #2980B9;

}