@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato:wght@300&display=swap');

h1 {
 font-family: 'Fredoka One', cursive;
}

body {
 text-align: center;
 font-family: Lato;
 display: grid;
 background: white;
}

form {
 width: 80%;
 margin: auto;
}

input,
textarea {
 width: 70%;
 margin: 10px;
 padding: 10px;
 background: white;
 font-family: Lato;
 border: 1px solid black;
}

fieldset {
 margin: 10px;
 font-weight: bold;
 background: #FEFEFE;
}

button {
 background: powderblue;
 font-size: 15px;
 padding: 10px;
 border: none;
 color: white;
}

legend {
 background: skyblue;
 padding: 5px;
 color: white;
}